*
  box-sizing: border-box
  max-width: 100%

body
  font-family: $font_text
  background-color: $color_background
  overflow-x: hidden
  min-height: 100vh
  color: $color_text

// Headers
@for $i from 1 through 6
  h#{$i}
    +h($i)

// Scrollbars

::-webkit-scrollbar
  height: $m
  width: $m/3
  background: $color_scrollbar_background

::-webkit-scrollbar-thumb
  background-color: $color_scrollbar_thumb

*
  scrollbar-color: $color_scrollbar_thumb $color_scrollbar_background
  scrollbar-width: thin
