{% extends "admin/base.html" %} {% load static %}

{% block title %} {{ title }} | Apix {% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "apix/style/admin.css" %}" />
{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            APIX
        </a>
    </h1>
{% endblock %}

{% block nav-global %}{% endblock %}
