@import base/2_variables

#header,
.module h2, .module caption, .inline-group h2
  background-color: $color_maadix

div.breadcrumbs
  background-color: darken($color_maadix, 10%)

a
  transition: color .2s ease
a:link, a:visited
  color: darken($color_maadix, 10%)
a:hover
  color: $color_maadix
a:active
  color: darken($color_maadix, 10%)

.button,
input[type="submit"],
input[type="button"],
input[type="submit"]
  background-color: #28a745
  transition: background-color .2s ease
  &:focus,
  &:active
  &:hover
    background-color: darken(#28a745, 10%)
.button.default,
input[type="submit"].default
  background-color: darken(#28a745, 10%)
  transition: background-color .2s ease
  &:focus,
  &:active
  &:hover
    background-color: darken(#28a745, 15%)

.djn-fieldset.module .djn-fieldset.module
  margin: 20px 0 20px 100px
  max-width: calc(100% - 100px)
  background: #eee !important


.djn-fieldset.module  .inline-related fieldset
  background: #eee !important

.module.aligned.djn-module.has-inlines
  background: none !important
  
.djn-module > .form-row
  box-sizing: border-box
  padding: 10px 0

#fields-0-translations-group > .module > h2
  background-color: #aaa
#fields-0-translations-group .djn-drag-handler
  line-height: 30px
#fields-0-translations-group  fieldset .fieldBox
  padding: 0 20px
  margin: 0
  float: left
  max-width: calc(50% - 40px)
.djn-dynamic-form-models-configurationfield > h3
  font-size: 14px !important
.djn-dynamic-form-models-configurationfield textarea
  height: 60px
  max-width: calc(100% - 200px)

.field-logo img
  max-width: 75px
  height: auto
  border-radius: 50%
  box-shadow: 0 0 10px rgba(black, .1)