#header,
.module h2, .module caption, .inline-group h2 {
  background-color: #c60032; }

div.breadcrumbs {
  background-color: #930025; }

a {
  transition: color 0.2s ease; }

a:link, a:visited {
  color: #930025; }

a:hover {
  color: #c60032; }

a:active {
  color: #930025; }

.button,
input[type="submit"],
input[type="button"],
input[type="submit"] {
  background-color: #28a745;
  transition: background-color 0.2s ease; }
  .button:hover,
  input[type="submit"]:hover,
  input[type="button"]:hover,
  input[type="submit"]:hover {
    background-color: #1e7e34; }

.button.default,
input[type="submit"].default {
  background-color: #1e7e34;
  transition: background-color 0.2s ease; }
  .button.default:hover,
  input[type="submit"].default:hover {
    background-color: #19692c; }

.djn-fieldset.module .djn-fieldset.module {
  margin: 20px 0 20px 100px;
  max-width: calc(100% - 100px);
  background: #eee !important; }

.djn-fieldset.module .inline-related fieldset {
  background: #eee !important; }

.module.aligned.djn-module.has-inlines {
  background: none !important; }

.djn-module > .form-row {
  box-sizing: border-box;
  padding: 10px 0; }

#fields-0-translations-group > .module > h2 {
  background-color: #aaa; }

#fields-0-translations-group .djn-drag-handler {
  line-height: 30px; }

#fields-0-translations-group fieldset .fieldBox {
  padding: 0 20px;
  margin: 0;
  float: left;
  max-width: calc(50% - 40px); }

.djn-dynamic-form-models-configurationfield > h3 {
  font-size: 14px !important; }

.djn-dynamic-form-models-configurationfield textarea {
  height: 60px;
  max-width: calc(100% - 200px); }

.field-logo img {
  max-width: 75px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }

/*# sourceMappingURL=admin.css.map */
