{% load i18n static %}

<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block html_title %}{% endblock %} | {{ document_title }}
        </title>
        <meta name="description" content="{{ document_description }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# favicon #}
        {% block branding_favicon %}
            <link rel="shortcut icon" href="{% static 'apix/img/favicon.ico' %}" />
        {% endblock %}

        {# Global stylesheets #}
        {% if debug_css %}
            <link rel="stylesheet" type="text/css" href="{% static 'apix/style/style.css' %}">
        {% else %}
            <link rel="stylesheet" type="text/css" href="{% static 'apix/style/style.min.css' %}">
        {% endif %}

        {# Override this in templates to add extra stylesheets and js #}
        {% block extra_media %}{% endblock %}
    </head>

    <body class="{% block body_classes %}{% endblock %} {% if not request.user.is_anonymous %}logged-in{% endif %}">

        {# content #}
        <main class="region-content">
            {# Site messages #}
            {% include 'components/messages.html' %}
            {% block layout %}{% endblock %}
        </main>

        {# footer #}
        <footer class="region-footer">
            <div class="region-footer__left">
                <div class="signature">
                    {{ document_title }}, 2020
                </div>
            </div>
        </footer>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
